<form method="post" enctype="multipart/form-data" asp-action="Testing">
    <div class="form-group">
        <div class="col-md-10">
            <p>رفع تقارير كشف بيانات الطلاب من نظام نور:</p>
            <input type="file" name="files" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="رفع" />
        </div>
    </div>
</form>