@{
    ViewData["Title"] = "رفع أسماء المدارس والقادة إلى النظام";
}
<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <form method="post" enctype="multipart/form-data" asp-controller="Admin"
          asp-action="UploadSchoolsPrinciplesData">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewBag.UserMessage != null)
            {
            <div>@ViewBag.UserMessage</div>
    }
        <div class="form-group">
            <div class="col-md-10">
                <p>رفع ملفات الإكسل لكشوفات المدارس وقادة المدارس:</p>
                <label class="btn btn-default">
                    استعراض الملفات على جهازك<input type="file" name="files" multiple hidden/>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10" style="margin-top:3px;">
                <input type="submit" value="رفع الملفات" class="btn btn-success" />
            </div>
        </div>
    </form>
</div>