@{
    ViewData["Title"] = "تواصل معنا";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    قسم التوجيه والإرشاد -إدارة التعليم بينبع<br />
    طريق إدارة التعليم<br />
    ينبع البحر، 41961<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>للاستفسارات:</strong> <a href="mailto:modepy@outlook.com">modepy@outlook.com</a><br />
    <strong>الدعم الفني العاجل:</strong> +966-56 789 44 39
</address>
