@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">خطأ!</h1>
<h2 class="text-danger">حدث خطأ أثناء معالجة طلبك.</h2>

<p>
    تأكد من صحة الرابط المطلوب، ومن توفر صلاحية الوصول إلى المصدر المطلوب. تأكد أيضاً من صحة البيانات المدخلة في نماذج الإدخال والمرسلة إلى النظام. تأكد أيضا من أن المصدر الذي طلبته ليس له فترة إتاحة محددة وليس مقيد بشرط.
</p>
<p>
    في حال استمرار ظهور رسالة الخطأ يرجى التواصل مع الدعم الفني.
</p>
