@{
    ViewData["Title"] = "الوصول غير مسموح به";
}

<header>
    <h1 class="text-danger">صلاحية الوصول ممنوعة.</h1>
    <p class="text-danger">أنت لا تملك صلاحية الوصول إلى هذا المصدر.</p>
</header>
