@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "استرجاع كلمة المرور";
}

<h2>@ViewData["Title"]</h2>
@*<p>
        For more information on how to enable password reset, please see this <a href="https://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
        الرجاء إدخال رقم الهوية
    </p>*@

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4>الرجاء إدخال رقم الهوية.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="IdNo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IdNo" class="form-control" />
            <span asp-validation-for="IdNo" class="text-danger"></span>
        </div>
    </div>
    <environment names="Staging,Production">
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
            </div>
        </div>
    </environment>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">متابعة</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://www.google.com/recaptcha/api.js"></script>
}
