@{
    ViewData["Title"] = "تأكيد استرجاع كلمة المرور";
}

<h2>@ViewData["Title"].</h2>
<p>
    @*Please check your email to reset your password.*@
    الرجاء الدخول على الرابط المرسل إلى بريدك الالكتروني لاسترجاع كلمة المرور.
</p>
