@{
    ViewData["Title"] = "تأكيد إعادة ضبط كلمة المرور";
}

<h1>@ViewData["Title"].</h1>
<p>
    تمت إعادة ضبط كلمة المرور بنجاح. الرجاء <a asp-controller="Account" asp-action="Login">النقر هنا لتسجيل الدخول</a>.
</p>
