@model ModepEduYanbu.Models.AccountViewModels.TestingViewModel

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<form asp-action="Testing">
    <div class="form-horizontal">
        <h4>TestingViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="birthDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="birthDate" class="form-control" />
                <span asp-validation-for="birthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

